apptainer {
    enabled    = true
    autoMounts = true
    runOptions = '--writable-tmpfs'
    // This is where Nextflow will store the downloaded .sif image
    cacheDir   = "${launchDir}/singularity_images"
}

timeline {
    enabled = true
    file    = "results/pipeline_info/timeline.html"
}

report {
    enabled = true
    file    = "results/pipeline_info/report.html"
}

trace {
    enabled = true
    file    = "results/pipeline_info/trace.txt"
    fields  = 'task_id,name,status,exit,realtime,duration,%cpu,%mem,rss'
}

process {
    // Point to the Docker URI. Nextflow will "pull" this via Singularity/Apptainer
    container = 'docker://quay.io/qiime2/amplicon:2024.10'
    
    // Environment variables to fix the Numba/Matplotlib cache issues
    beforeScript = """
    mkdir -p .numba_cache .mpl_cache .qiime2_cache
    export NUMBA_CACHE_DIR="\$PWD/.numba_cache"
    export MPLCONFIGDIR="\$PWD/.mpl_cache"
    export QIIME2_CACHE_DIR="\$PWD/.qiime2_cache"
    """

    cpus   = 24
    memory = '48 GB'
}
